/*************/
/* CSS RESET */
/*************/

/* naar een idee van Jen Simmons */
*, *::after, *::before {
  box-sizing:border-box;  
}

body {
  margin:0;
  background-color: var(--achtergrond);
  position: relative;
  width: 100vw;
}

button:not([disabled]) {
  cursor:pointer;
}





/*********************/
/* CUSTOM PROPERTIES */
/*********************/

:root {
  --color-headings:crimson;
  --kleur-p: black;
  --achtergrond:rgb(251, 191, 78);
  --fotolijst:rgb(120, 51, 14);
  --vloer:rgb(87, 49, 15);
  --kastvlakken: rgb(207, 161, 137);
  --kastachtergrond: rgb(173, 97, 57);
  --color-focus: crimson;
  --artikel: white;
  --artikelschaduw: rgba(0, 0, 0, 0.418);
}

@media (prefers-color-scheme:dark){
  :root{
  --achtergrond:rgb(52, 88, 55);
  --fotolijst:rgb(41, 31, 25);
  --vloer:rgb(49, 31, 15);
  --kastvlakken: rgb(104, 67, 47);
  --kastachtergrond: rgb(41, 31, 25);
  --color-headings:white;
  --kleur-p: white;
  --artikel: rgb(56, 47, 47);
  --artikelschaduw: rgba(144, 143, 143, 0.418);
  }
}




/********************/
/* ALGEMENE STYLING */
/********************/

h1 {
  color:var(--color-headings);
  text-align: center;
  font-family: 'DynaPuff', cursive;
}

h2 {
  font-family: 'DynaPuff', cursive;
  color: var(--color-headings);
}

p {
  text-align: center;
  font-family: 'Comic Sans MS', cursive;
  color: var(--kleur-p);
}

button {
  width: max-content;
  background: none;
  border: none;
  padding: 0;
}



/* goofy */

main > img:nth-of-type(1) {
  width: 20vw;
  position: fixed;
  bottom: 7vw;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
}



/* bijzettafel */

section:first-of-type {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto auto;
  width: 30vw;
  gap: 0;
  position: absolute;
  left: 8.5em;
  top: 50vh;
}

section > img {
  width: 6vw;
}

section > img:first-of-type{
  grid-column-start: 2;
  padding: 0;
}

section > img:nth-of-type(2) {
  width: 25vw;
  grid-column: span 3;
  padding: 0;
  z-index: 1;
}

section > button {
  display: grid;
  place-items: end;
  margin: 0;
  z-index: 10;
  transition: 1s;
}

section > button:hover {
  transform: translate(0em, -1em);
}

section > button:focus-visible {
  outline: none;
  filter: drop-shadow(0 0 .5em var(--color-focus));
}

section > button > img {
  width: 6vw;
  padding: .5em;
  padding-bottom: 0em;
}



/* ************* */
/* hoedjes naar hoofd */
section > button.verplaatsen {
  position: fixed;
  left: 52%;
  transform: translateX(-50%);
  bottom: 33vw;
}



/* foto gallerij */

ol:first-of-type {
  display: grid;
  gap: .5vw;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto auto auto;
  padding: .5em;

  position: absolute;
  top: 6em;
  left: 8em;
}

ol:first-of-type li {
  list-style-type: none;
  border: .5vw solid var(--fotolijst);
  height: fit-content;
  transition: .5s;
  position: relative;
  background-color: var(--kastvlakken);
  display: grid;
  place-items: center;
}

ol:first-of-type li:hover{
  transform: rotate(2deg);
}

/* om het witte randje onder de foto weg te halen */
ol:first-of-type li button{
  display: grid;
  place-items: center;
  width: 7vw;
  height: max-content;
}

ol:first-of-type li button img{
  grid-column: span 2;
  width: 7vw;
}

ol:first-of-type li:nth-of-type(3){
  transform: rotate(3deg);
}

ol:first-of-type li:nth-of-type(3):hover{
  transform: rotate(1deg);
}

ol:first-of-type li:nth-of-type(2){
  grid-column-start: 3;
  grid-row-start: 1;
  grid-row-end: 3;
}

ol:first-of-type li:nth-of-type(5){
  grid-row-start: 2;
  grid-row-end: 4;
  grid-column-start: 1;
  transition: 1s;
}

ol:first-of-type li:nth-of-type(5):hover{
  transform-origin: top center;
  transform: rotate(50deg);
}

ol:first-of-type li:nth-of-type(6){
  grid-row-start: 2;
  grid-row-end: 4;
  grid-column-start: 1;
  border: none;
  background-color: transparent;
  z-index: -1;
}

ol:first-of-type li:hover button img {
  opacity: 0;
}

ol:first-of-type li p{
  position: absolute;
  margin: 0;
  opacity: 0;
}

ol:first-of-type li:hover p{
  opacity: 1;
}




/* kast */

ol:nth-of-type(2) {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  background-color: var(--kastachtergrond);
  width: 25vw;
  height: 35vw;
  border: 2em;
  padding: .5em;

  position: absolute;
  top: 6em;
  right: 8em;
  z-index: 10;
}

ol:nth-of-type(2) li{
  background-color: var(--kastvlakken);
  margin: .3em;
  list-style-type: none;
  padding: 0em;
  display: grid;
  place-items: end center;
}

ol:nth-of-type(2) li button {
  display: grid;
  place-items: end center;
  z-index: 10;
  margin: 0;
  transition: .5s;
}

ol:nth-of-type(2) li button:hover{
  transform: translate(0em, -1em);
}

ol:nth-of-type(2) li button:focus-visible{
  outline: none;
  filter: drop-shadow(0 0 .5em var(--color-focus));
}

ol:nth-of-type(2) li button img{
  width: 6vw;
  padding: 0;
}



/* *********** */
/* hoedje naar hoofd */
ol:nth-of-type(2) li button.verplaatsen{
  position: fixed;
  left: 52%;
  transform: translateX(-50%);
  bottom: 33vw;
  /* animation: verplaatsen;
  animation-duration: 2s;
  animation-timing-function: ease-in;
  animation-iteration-count: 1;
  animation-play-state: running;
  animation-fill-mode: forwards; */
}

/* @keyframes verplaatsen {
  0%{
    transform: translate(0deg) rotate(0deg);
  }

  100%{
    transform: translate(-28vw, 5vw) rotate(360deg) ;
  }
} */




/* teksten */

section:nth-of-type(2) {
  visibility: hidden;
}

section:nth-of-type(2) article {
  background-color: var(--artikel);
  border-radius: 10% 10% 10% 10% / 10% 10% 10% 10%;
  padding: 1.5vw;
  box-shadow: .2em .2em 1em var(--artikelschaduw);
  visibility: hidden;
  position: fixed;
  left: 62vw;
  top: 18vw;
  width: 28vw;
  height: max-content;
  z-index: 11;
}

section:nth-of-type(2) article.visible {
  visibility: visible;
}

section:nth-of-type(2) img{
  width: 10vw;
}

section:nth-of-type(2) p {
  text-align: left;
}



/* vloer */

div {
  /* display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr;
  border: .2em solid black; */
  width: 100vw;
  height: 13vw;
  background-color: var(--vloer);
  position: fixed;
  bottom: 0;
  z-index: 0;
}

