/*************/
/* CSS RESET */
/*************/

/* naar een idee van Jen Simmons */
*, *::after, *::before {
  box-sizing:border-box;  
}

/* bron: https://developer.mozilla.org/en-US/docs/Web/CSS/background-repeat */
body {
  margin:0;
  background-color: var(--achtergrond);
  background-image: url("behang2.svg");
  background-repeat: repeat;
  position: relative;
  width: 100vw;
}

button:not([disabled]) {
  cursor:pointer;
}





/*********************/
/* CUSTOM PROPERTIES */
/*********************/

:root {
  --color-headings:crimson;
  --kleur-p: black;
  --achtergrond:rgb(251, 191, 78);
  --fotolijst:rgb(120, 51, 14);
  --vloer:rgb(87, 49, 15);
  --kastvlakken: rgb(207, 161, 137);
  --kastachtergrond: rgb(173, 97, 57);
  --color-focus: crimson;
  --artikel: white;
  --artikelschaduw: rgba(0, 0, 0, 0.418);
  --bal: rgb(244, 57, 57);
}

@media (prefers-color-scheme:dark){
  :root{
  --achtergrond:rgb(52, 88, 55);
  --fotolijst:rgb(41, 31, 25);
  --vloer:rgb(49, 31, 15);
  --kastvlakken: rgb(104, 67, 47);
  --kastachtergrond: rgb(41, 31, 25);
  --color-headings:white;
  --kleur-p: white;
  --artikel: rgb(56, 47, 47);
  --artikelschaduw: rgba(144, 143, 143, 0.418);
  }

  body.light {
    --color-headings:crimson;
    --kleur-p: black;
    --achtergrond:rgb(251, 191, 78);
    --fotolijst:rgb(120, 51, 14);
    --vloer:rgb(87, 49, 15);
    --kastvlakken: rgb(207, 161, 137);
    --kastachtergrond: rgb(173, 97, 57);
    --color-focus: crimson;
    --artikel: white;
    --artikelschaduw: rgba(0, 0, 0, 0.418);
    --bal: rgb(244, 57, 57);
  }
}

body.dark {
  --achtergrond:rgb(52, 88, 55);
  --fotolijst:rgb(41, 31, 25);
  --vloer:rgb(49, 31, 15);
  --kastvlakken: rgb(104, 67, 47);
  --kastachtergrond: rgb(41, 31, 25);
  --color-headings:white;
  --kleur-p: white;
  --artikel: rgb(56, 47, 47);
  --artikelschaduw: rgba(144, 143, 143, 0.418);

  background-image: url("behang-dark.svg");
}



/********************/
/* ALGEMENE STYLING */
/********************/

h1 {
  color:var(--color-headings);
  text-align: center;
  font-family: 'DynaPuff', cursive;
}

h2 {
  font-family: 'DynaPuff', cursive;
  color: var(--color-headings);
}

p {
  text-align: center;
  font-family: 'Comic Sans MS', cursive;
  color: var(--kleur-p);
}

button {
  width: max-content;
  background: none;
  border: none;
  padding: 0;
}



/* goofy */
/* bron: https://stackoverflow.com/questions/2005954/center-a-positionfixed-element. */

main > img:nth-of-type(1) {
  width: 20vw;
  position: fixed;
  bottom: 7vw;
  left: 50%;
  transform: translateX(-50%);
  z-index: 2;
}


/* stalamp */
main > img:nth-of-type(2){
  width: 9vw;
  position: fixed;
  bottom: 10vw;
  left: 1vw;
  z-index: 1;
}


/* max */
/* bron: https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_Animations/Using_CSS_animations */
main > img:nth-of-type(3){
  position: fixed;
  width: 16vw;
  right: -16vw;
  bottom: 7vw;
  z-index: 15;
  animation: kiekeboe 50s linear 20s infinite;
}

@keyframes kiekeboe {
  0% {
    transform: none;
  }

  5% {
    transform-origin: center bottom;
    transform: translate(-1.5vw, 0vw) rotate(-40deg);
  }

  10% {
    transform-origin: center bottom;
    transform: translate(-1.5vw, 0vw) rotate(-40deg);
  }

  15%, 100% {
    transform: none;
  }
}



/* kleed */
main > img:nth-of-type(4){
  position: fixed;
  width: 50vw;
  left: 50%;
  transform: translateX(-50%);
  bottom: 3vw;
  z-index: 1;
}



/* bijzettafel */
/* bron: https://css-tricks.com/snippets/css/complete-guide-grid/ */
section:first-of-type {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto auto;
  width: 30vw;
  gap: 0;
  position: fixed;
  left: 10vw;
  bottom: 11vw;
  z-index: 2;
}

section > img {
  width: 6vw;
}

section > img:first-of-type{
  grid-column-start: 2;
  padding: 0;
}

section > img:nth-of-type(2) {
  width: 25vw;
  grid-column: span 3;
  padding: 0;
  z-index: 1;
}



/* kast */
/* bron: https://css-tricks.com/snippets/css/complete-guide-grid/ */
ol:nth-of-type(2) {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  background-color: var(--kastachtergrond);
  width: 25vw;
  height: 35vw;
  border: 2vw;
  padding: .5vw;

  position: fixed;
  bottom: 10vw;
  right: 8vw;
  z-index: 10;
}

ol:nth-of-type(2) li{
  background-color: var(--kastvlakken);
  margin: .3em;
  list-style-type: none;
  padding: 0em;
  display: grid;
  place-items: end center;
  
}

ol:nth-of-type(2) li > img{
  width: 6vw;
}








/**************************/
/* hoedjes op bijzettafel */
/* hoedjes in kast */
.hoed {
  z-index: 10;
  transition: transform .5s;
  margin: 0;
}

.hoed:hover {
  transform: translateY(-1em);
}

/* bron: https://developer.mozilla.org/en-US/docs/Web/CSS/filter-function/drop-shadow */
.hoed:focus-visible {
  outline: none;
  filter: drop-shadow(0 0 .5em var(--color-focus));
}

.hoed img,
.hoed.op.vlieg.terug img {
  width: 6vw;
  padding: 0;
  display:block;
  margin: 0;
}





/* ***************** */
/* hoedje verstoppen */
.hoed.hide{
  opacity:0;
  pointer-events: none;
}


/********************/
/* kopie van hoedje */

.hoed.op {
  position: fixed;
  left: calc(52% - 3vw);
  bottom: 32.5vw;
  opacity:0;
}

/* hoedjes net anders zodat ze goed op goofy staan */
.hoed.op[data-id="eerst"] {
  left: calc(51.875% - 3vw);
}

.hoed.op[data-id="grijs"] {
  left: calc(52.25% - 3vw);
}

.hoed.op[data-id="rond"] {
  left: calc(52% - 3vw);
  bottom: 31vw;
}

.hoed.op[data-id="oranje"] {
  left: calc(51.875% - 3vw);
  bottom: 33vw;
}

.hoed.op[data-id="groen"] {
  left: calc(51% - 3vw);
}


/**************************/
/* dan naar goofy vliegen */

.hoed.vlieg {
  opacity: 1;
  animation: vliegHeen 1 .5s ease-out forwards;
}

@keyframes vliegHeen {
  0% {
    transform: translate( calc(var(--deltaX) * 1px), calc(var(--deltaY) * 1px) );
  }
  100% {
    transform: translate( 0, 0 );
  }
}


/****************/
/* terugvliegen */

.hoed.terug {
  animation: vliegTerug 1 .5s ease-out forwards;
}

@keyframes vliegTerug {
  0% {
    transform: translate( 0, 0 );    
  }
  100% {
    transform: translate( calc(var(--deltaX) * 1px), calc(var(--deltaY) * 1px) );
  }
}







/* foto gallerij */
ol:first-of-type {
  display: grid;
  gap: .5vw;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto auto auto;
  padding: .5em;

  position: fixed;
  bottom: 26vw;
  left: 9.5vw;
}

ol:first-of-type li {
  list-style-type: none;
  border: .5vw solid var(--fotolijst);
  height: fit-content;
  transition: .5s;
  position: relative;
  background-color: var(--kastvlakken);
  display: grid;
  place-items: center;
}

ol:first-of-type li:hover{
  transform: rotate(2deg);
}

/* om het witte randje onder de foto weg te halen */
ol:first-of-type li button{
  display: grid;
  place-items: center;
  width: 7vw;
  height: max-content;
}

ol:first-of-type li button img{
  grid-column: span 2;
  width: 7vw;
}

ol:first-of-type li:nth-of-type(3){
  transform: rotate(3deg);
}

ol:first-of-type li:nth-of-type(3):hover{
  transform: rotate(1deg);
}

ol:first-of-type li:nth-of-type(2){
  grid-column-start: 3;
  grid-row-start: 1;
  grid-row-end: 3;
}

ol:first-of-type li:nth-of-type(5){
  grid-row-start: 2;
  grid-row-end: 4;
  grid-column-start: 1;
  transition: 1s;
}

/* bron: https://developer.mozilla.org/en-US/docs/Web/CSS/transform-origin */
ol:first-of-type li:nth-of-type(5):hover{
  transform-origin: top center;
  transform: rotate(50deg);
}


/* gat */
ol:first-of-type li:nth-of-type(6){
  grid-row-start: 2;
  grid-row-end: 4;
  grid-column-start: 1;
  border: none;
  background-color: transparent;
  z-index: -1;
}


ol:first-of-type li button:focus-visible{
  outline: none;
  transform: scale(.9);
}

/* tekst laten verschijnen */
ol:first-of-type li:hover button img {
  opacity: 0;
}

ol:first-of-type li p{
  position: absolute;
  margin: 0;
  opacity: 0;
}

ol:first-of-type li:hover p {
  opacity: 1;
}

ol:first-of-type li:nth-of-type(8){
  transform: rotate(-3deg) translate(.5em, .3em);
}




/* teksten */

section:nth-of-type(2) {
  visibility: hidden;
}

section:nth-of-type(2) article {
  background-color: var(--artikel);
  border-radius: 10%;
  padding: 1.5vw;
  box-shadow: .2em .2em 1em var(--artikelschaduw);
  visibility: hidden;
  position: fixed;
  left: 62vw;
  top: 18vw;
  width: 28vw;
  height: max-content;
  z-index: 11;
}

/* het driehoekje van de tekstwolk */
/* bron: https://projects.verou.me/bubbly/ */
section:nth-of-type(2) article:after {
	content: '';
	position: absolute;
	left: 0;
	top: 20%;
	width: 0;
	height: 0;
	border: 1.2em solid transparent;
	border-right-color: var(--artikel);
	border-left: 0;
	border-bottom: 0;
	margin-left: -1.2em;
}

section:nth-of-type(2) article.visible {
  visibility: visible;
}

section:nth-of-type(2) img{
  width: 10vw;
}

section:nth-of-type(2) p {
  text-align: left;
}




/* lichtknopje */
section:nth-of-type(3) button{
  width: 2vw;
  position: fixed;
  left: 40vw;
  bottom: 30vw;
  z-index: 15;
}

section:nth-of-type(3) button img {
  width: 2vw;
}

 button > img.dark {
  content: url("light-off.svg");
 }




/* vloer */
/* bron: https://www.w3schools.com/CSSREF/pr_pos_z-index.php */
div{
  width: 100vw;
  height: 13vw;
  background-color: var(--vloer);
  position: fixed;
  bottom: 0;
  z-index: 0;
}

